<!doctype HTML>
<html ng-app="cardApp">
<head>
  <title>Angular BlackJack</title>
  <link rel="stylesheet" href="vendor/bootstrap-3.20.css">
  <link rel="stylesheet" href="vendor/bootstrap-3.20.css.map">
  <link rel="stylesheet" href="app/css/main.css">
</head>
<body>
  <div ng-controller="GameCtrl as game">
    <h1>Angular BlackJack</h1>

    <section>

      <div ng-show="game.betPlaced">
        <h3>Dealer</h3>
        <ul>
          <li class="card" ng-repeat="card in game.round.dealer.hand" ng-show="card.flipped"><img src="app/assets/img/{{ card.name + '-' + card.suit }}.png" class="img-responsive"></li>
          <li class="card" ng-repeat="card in game.round.dealer.hand" ng-show="!card.flipped"><img src="app/assets/img/Card-Back.png" class="img-responsive"></li>
        </ul>
        <p>Score: {{ game.round.dealer.score[0] }}</p>
        <p ng-show="game.round.dealer.score[1] !== game.round.dealer.score[0]">Alt Score: {{ game.round.dealer.score[1] }}</p>
        <button class="btn btn-warning" ng-click="game.dealAgain()">Deal Again!</button>
      </div>

    </section>

    <section>
      <div ng-repeat="player in game.round.players" class="player">
        <!-- <h3>Player</h3> -->

        <div class="cards" ng-show="game.betPlaced">
          <ul>
            <li class="card" ng-repeat="card in player.hand"><img src="app/assets/img/{{ card.name + '-' + card.suit }}.png" class="img-responsive"></li>
          </ul>
<!--           <p>Score: {{ player.score[0] }}</p>
          <p ng-show="player.score[1] !== player.score[0]">Alt Score: {{ player.score[1] }}</p> -->
        </div>

        <div>
          <button class="btn btn-success" ng-click="game.hitMe(player, $index)">Hit Me!</button>
          <button class="btn btn-danger" ng-click="game.stick(player, $index)">Stick</button>
        </div>

        <div class="bet">
          <span>Current Bet</span>
          <button class="btn btn-default" ng-click="game.increaseBet(player)" ng-disabled="game.betPlaced">+</button>
          <span>${{ player.currentBet }}</span>
          <button class="btn btn-default" ng-click="game.decreaseBet(player)" ng-disabled="player.currentBet === 5 || game.betPlaced">-</button>
          <button class="btn btn-default" ng-click="game.placeBet(player, $index)">Place Bet!</button>
        </div>

        <div class="bank">
          <span>Total Cash</span>
          <span>${{ player.bank }}</span>
        </div>


      </div>

    </section>

    <section class="game-status">
      <h3>Game Status</h3>
      <p ng-repeat="message in game.gameMessages">{{ message }}</p>
    </section>

  </div>


  <!-- Vendor scripts -->
  <script src="vendor/angular-1.2.23.js"></script>
  <script src="vendor/angular-mocks-1.2.23.js"></script>
  <script src="vendor/ui-bootstrap-0.11.0.js"></script>

  <!-- App scripts -->
  <script src="app/app.js"></script>
  <script src="app/controllers/gameCtrl.js"></script>
  <script src="app/models/card.js"></script>
  <script src="app/models/dealer.js"></script>
  <script src="app/models/deck.js"></script>
  <script src="app/models/hand.js"></script>
  <script src="app/models/player.js"></script>
  <script src="app/models/messages.js"></script>
  <script src="app/models/round.js"></script>
</body>
</html>
