/* Global styles */

body {
  background: url(../assets/img/Black-Jack-Table.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #f3f3f3;
}

h1 {
  text-indent: -999em;
}

p, ul, li {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.card {
  display: inline;
}

.card img {
  display: inline-block;
}

.player .cards,
.player .player-actions,
.player .player-bet,
.player .player-bank,
.dealer,
.game-status {
  position: absolute;
}

.cards,
.player .player-actions,
.game-status {
  text-align: center;
}

/* Player Styles */
.player .cards {
  bottom: 175px;
  left: 25%;
  margin: 0 auto;
  width: 50%;
}

.player .player-actions {
  bottom: 50px;
  left: 40%;
  width: 20%;
}

.player .player-bet {
  bottom: 50px;
  right: 10%;
  width: 25%;
}

.player .player-bank {
  top: 50px;
  right: 10%;
  width: 15%;
  font-size: 2em;
}

/* Dealer styles */
.dealer {
  top: 10px;
  left: 25%;
  margin: auto;
  width: 50%;
}

.game-status {
  bottom: 43%;
  left: 25%;
  margin: auto;
  width: 50%;
  font-size: 1.2em;
}

/* Card styles */
.card img {
  margin: 5px;
  width: 82px;
  height: 120px;
}
