body {
  background: url(../assets/img/Black-Jack-Table.jpg) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  text-indent: -999em;
}

li {
  list-style: none;
}
.card {
  display: inline;
}
.card img {
  display: inline-block;
}


/* Player Styles */
.cards {
  border: 1px solid red;
  position: absolute;
  bottom: 175px;
  left: 25%;
  margin: auto;
  width: 50%;
}
.card {
  margin: 5px;
}
.cards ul {
  text-align: center;
}
